:root {
  --background-color: #001F3D;
  --text-color: #CCB880;
  --accent-color: #9C4104;
  --primary-color: #282E56;
  --secondary-color: #ffe6a3;
  --transparent-primary-color: #282e5678;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: var(--background-color); */
  color: var(--text-color);
  font-family: 'Azeret Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

::selection {
  background-color: #9C4104;
  color: gold;
}

.questions-app-start {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}

.questions-app-start div {
  margin: 20px 0;
}

.questions-app-start label {
  display: block;
  margin-bottom: 10px;
}



.svg-container {
  width: 100px;
  height: 30px;
  position: relative;
  margin: 20px;
}

.svg-container img {
  max-width: 100%;
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translate(0%, -50%);
}